/Assignment/Work A/A/build/
/Second Unity/Assignment/AntSimulator/nbproject/private/
/Second Unity/Assignment/AntSimulator/build/
/Second Unity/WorkShop/WorkShop 15/nbproject/private/
/Second Unity/WorkShop/WorkShop 15/build/
/Second Unity/WorkShop/Estudiante/nbproject/private/
/Second Unity/WorkShop/Estudiante/build/
/Second Unity/Assignment/Datos/nbproject/private/
/Second Unity/Assignment/Datos/build/
/Second Unity/Assignment/Unidades/nbproject/private/
/Second Unity/Assignment/TaxLibrary/nbproject/private/
/Second Unity/Assignment/TaxLibrary/build/
/Second Unity/Assignment/restar_fecha/build/
/Second Unity/Assignment/Date/nbproject/private/
/Second Unity/Assignment/Date/build/
/Second Unity/Assignment/SystemDate/nbproject/private/
/Second Unity/Assignment/TestClaseEnum/nbproject/private/
/Second Unity/Assignment/TestClaseEnum/build/