/Assignment/Work A/A/build/
/Second Unity/Assignment/AntSimulator/nbproject/private/
/Second Unity/Assignment/AntSimulator/build/
/Second Unity/WorkShop/WorkShop 15/nbproject/private/
/Second Unity/WorkShop/WorkShop 15/build/
/Second Unity/WorkShop/Estudiante/nbproject/private/
/Second Unity/WorkShop/Estudiante/build/
/Second Unity/Assignment/Datos/nbproject/private/
/Second Unity/Assignment/Datos/build/
/Second Unity/Assignment/Unidades/nbproject/private/
/Second Unity/Assignment/TaxLibrary/nbproject/private/
/Second Unity/Assignment/TaxLibrary/build/
/Second Unity/Assignment/restar_fecha/build/
/Second Unity/Assignment/Date/nbproject/private/
/Second Unity/Assignment/Date/build/
/Second Unity/Assignment/SystemDate/nbproject/private/
/Second Unity/Assignment/TestClaseEnum/nbproject/private/
/Second Unity/Assignment/TestClaseEnum/build/
/Second Unity/Assignment/Polimorfismo/nbproject/private/
/Second Unity/Assignment/Polimorfismo/build/
/Second Unity/Assignment/Assignment21_Polymorphism2/build/
/Second Unity/Assignment/Assignment21_Polymorphism2/nbproject/private/
/Second Unity/Assignment/Assignment25 Table Encriptar/PasswordLogin/build/
/Second Unity/Assignment/Assignment25 Table Encriptar/18/nbproject/private/
/Second Unity/Assignment/Assignment25 Table Encriptar/Login/build/
/Second Unity/WorkShop/WorkShop 24/MDD/nbproject/private/
/Second Unity/WorkShop/WorkShop 24/MDD/build/
/Second Unity/WorkShop/WorkShop 25/JavaApplication66/nbproject/private/
/Second Unity/WorkShop/WorkShop 25/JavaApplication66/build/
/Second Unity/WorkShop/WorkShop 25/Exam2Excersise1/nbproject/private/
/Second Unity/WorkShop/WorkShop 25/Exam2Excersise1/build/
/Second Unity/WorkShop/WorkShop 25/Exam2Exercise2/nbproject/private/
/Second Unity/WorkShop/WorkShop 25/Exam2Exercise2/build/
/Second Unity/WorkShop/WorkShop 25/Exam2exercise10/nbproject/private/
/Second Unity/WorkShop/WorkShop 25/Exam2Exercise11/nbproject/private/
/Second Unity/WorkShop/WorkShop 25/Exam2Exercise11/build/
/Second Unity/WorkShop/WorkShop 26/Matrices/nbproject/private/
/Second Unity/WorkShop/WorkShop 26/Matrices/build/